
.contact-text{
    text-align: center;
    margin: 50px;
    font-size: 20px;
  }

.contact-link{
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color:rgb(176,134,114);
    border-radius: 20px;
    color:white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 120%;
  }

.subscribe{
  background-image: url("../photo/pro52.jpg");
  background-size: cover;
  position: relative;
  color: white;
  }

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px;
  }

.subscribe form {
    display: flex;
    position: relative;
    width: 800px;
  }

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    width: 800px;
  }

.subscribe form input[type="email"] {
    border: 1px solid rgb(176,134,114) ;
    border-right: none;
    border-radius: 20px;
    background: none;
    padding: 20px 20px 20px 60px;
    width: 800px;
    height: 30px;
  }

.subscribe form input[type="submit"] {
    width: 300px;
    background-color: rgb(176,134,114) ;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(176,134,114);
    border-radius: 20px;
    border-left: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size:100%;
  }

.subscribe form ::placeholder {
    color: white;
  }

.subscribe p {
    line-height: 2;
    margin-left: 120px;
    font-size:200%;
    
  }

.main-heading{
  text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;

}

.contact .content {
    display: flex;
    justify-content: space-between;
  }

.contact .content form {
    flex-basis: 65%;
  }

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 3px solid rgb(176,134,114);
    border-radius: 3px;
    margin-bottom: 30px;
    width: 100%;
  }

.contact .content form textarea.main-input {
    height: 100px;
  }

.contact .content form input[type="submit"] {
    background-color:  rgb(176,134,114);
    border-radius: 20px ;
    color: white;
    padding: 20px;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
  }

.contact .content .info {
    flex-basis: 20%;
  }

.contact .content .info h4 {
    margin-bottom: 30px;
    font-size: 20px;
  }

.contact .content .info .phone ,address{
    display: block;
    color: #777;
    margin-bottom: 5px;
  }

  .footer {
    background-image: url("../photo/c4.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
  }

  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  } 

  .footer .container {
    position: relative;
  }

  .footer img {
    margin-bottom: 20px;
    width: 20px;
  }

  .footer .par{
    font-size: 30px;
  }

  .footer .copyright {
    text-transform: uppercase;
    padding: 20px;
    font-size: 15px;
    
  }

  .footer .social-icons i {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .footer .copyright {
    margin-top: 60px;
  }
 